# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.lcov

# Next.js
.next/
out/
build
dist/

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
.env*.local
.env
.env.production

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Foundry
cache/
out/
broadcast/
lcov.info

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Turbo
.turbo
